label{
    font-family: Verdana, Geneva, sans-serif; font-size: 18px; font-weight: 200;
}
.formWrapper{
    padding-top: 40px;
    max-width: 1200px;
    margin: 0 auto;
}
.ctaAlignment{
    text-align:center;
}
.btn {
  
    padding: 10px 40px !important;
}
.btn-primary {
    color: #fff;
    background-color: #cc0000 !important;
    border-color: #cc0000 !important;
}

