.btn-default {
    border-color: #ccc;
}

.tab-content .choice {
  text-align: center;
  cursor: pointer;
  margin-top: 38px;
}

.tab-content .choice i {
    font-size: 32px;
    line-height: 55px;
}

